body.dark-mode {
  background-color: #282c34;
  color: white;
}

.App.dark-mode {
  background-color: #282c34;
  color: white;
}

.jumbotron.dark-mode {
  background-color: #444 !important;
  color: white;
}

.navbar-default.dark-mode {
    background-color: #222;
    border-color: #080808;
}

.navbar-default.dark-mode .navbar-nav > li > a {
    color: #9d9d9d;
}

.dark-mode .freq-value {
    background-color: #555;
    color: white;
}